<!doctype html>
<!-- TODO traduzir partes do inglês -->


<html lang="pt-br" ng-app="myApp" ng-controller="maincontroller">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ title }}</title>

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

       
    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--Angular-Material-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
	
	<!-- mdPickers Style -->
	<link rel="stylesheet" href="bower_components/mdPickers/dist/mdPickers.min.css">

    <!-- Expansion-panel Style -->
    <link href="bower_components/angular-material-expansion-panel-master/dist/md-expansion-panel.min"/>

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>    

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/3fb0062116.js"></script>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-4.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="dashboard.html" class="simple-text">
                    {{ title }}
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>Pacientes</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-date"></i>
                        <p>Calendário</p>
                    </a>
                </li>
                <li>
                    <a href="gerencia.html">
                        <i class="pe-7s-cash"></i>
                        <p>Gerência</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">1</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notificações serão mostradas aqui.</a></li>
                              </ul>
                        </li>
                        <li>
                           <a class="md-primary md-raised" ng-controller="formscontroller" ng-click="showAdvanced($event)">
                                <i class="fa fa-search"></i>
						   </a>
                        </li>
                        <li>
                            <a class="md-primary md-raised" ng-controller="formscontroller" ng-click="showAdvanced2($event)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Ações
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Ações que podetão ser executadas</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ação separada</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Consultas</h4>
                                <p class="category">Agendamentos</p>
                            </div>
                            <div class="content">
                                <!--<div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>-->
                                <div id="agendamentos-card"> <!--card de consultas-->
                                  
                                   <div ng-repeat="consulta in consultas"> <!-- repeat da lista de clientes -->
                                   
                                   	<div id="agendamento" class="card-cliente">
										 <div class="clearfix float-my-children">
											  <img src="assets/img/default-avatar.png" class="card-picture"/>
											  <div id="agendamento-texto">
												<h5><b>{{ consulta.name }} {{ consulta.postname }} <i class="fa fa-circle text-info"></i></b></h5>
												<p>Agendado para {{ consulta.date | date}}</p>
											  </div>
										 </div>
										</div>
									</div> <!-- repeat da lista de clientes -->
                                    
                                </div> <!--card de consultas-->

                                <div class="footer"> <!-- footer do card de consultas -->
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Atender
                                        <i class="fa fa-circle text-danger"></i> Atendido
                                        <i class="fa fa-circle text-warning"></i> Em Atendimento
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i>
                                            <!--Hora Atual-->
                                            <div id="clockbox"></div>
                                            <!--Hora Atual-->
                                    </div>
                                </div> <!-- footer do card de consultas -->
                            </div>
                        </div>
                    </div>

                    <!--<div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users Behavior</h4>
                                <p class="category">24 Hours performance</p>
                            </div>
                            <div class="content">
                                <div id="chartHours" class="ct-chart"></div>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Click
                                        <i class="fa fa-circle text-warning"></i> Click Second Time
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>

                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Tarefas</h4>
                                <p class="category">Atividades que podem ser adicionadas e editadas</p>
                            </div>
                            <div class="content">
                                <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <label class="checkbox">
                                                        <input type="checkbox" value="" data-toggle="checkbox">
                                                    </label>
                                                </td>
                                                <td>Adicione tarefas da clinica</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Editar Tarefa" class="btn btn-info btn-simple btn-xs">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</div>

                <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                    <!--footer lado direito-->
                    </p>
                </div>
            </footer>

        </div>


</body>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
   
    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <!-- ui-bootstrap -->
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

    <!--Ui-Calendar-->
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>

    <!-- Cpf/Cnpj -->
    <scrip type="text/javascript" src="bower_components/cpf_cnpj/build/cpf.js"></scrip>
    <scrip type="text/javascript" src="bower_components/cpf_cnpj/build/cnpj.js"></scrip>
    <scrip type="text/javascript" src="bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js"></scrip>
	
	<!-- mdPickers -->
	<script type="text/javascript" src="bower_components/mdPickers/dist/mdPickers.min.js"></script>

    <!-- Expansion-panel -->
    <script type="text/javascript" src="bower_components/angular-material-expansion-panel-master/dist/md-expansion-panel.min"></script>
    
	<!-- modules -->
	<script src="assets/js/app.js"></script>
	
	<!-- controllers -->
	<script src="assets/js/controllers/maincontroller.js"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
 	<script src="assets/js/light-bootstrap-dashboard.js"></script> 

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
 	<script src="assets/js/demo.js"></script> 
	
    <!--font-awesome-->
    <script src="https://use.fontawesome.com/3fb0062116.js"></script>

    <!--Clockbox-->
    <script type="text/javascript">
    function GetClock(){
    var d=new Date();
    var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds();
    if(nmin<=9) nmin="0"+nmin
    if(nsec<=9) nsec="0"+nsec;

    document.getElementById('clockbox').innerHTML=""+nhour+":"+nmin+":"+nsec+"";
    }

    window.onload=function(){
    GetClock();
    setInterval(GetClock,1000);
    }
    </script>
    <!--Clockbox-->
	
	<!--<script type="text/javascript">
    	$(document).ready(function(){

        	demo.initChartist();

        	// $.notify({
            	// icon: 'pe-7s-gift',
            	// message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

            // },{
            //     type: 'info',
            //     timer: 4000
            // });

    	});
	</script>-->

</html>
