<md-dialog aria-label="Cadastro nova consulta">
	<form name="consultaForm" ng-cloak ng-controller="maincontroller as ul">
		<md-dialog-content>
			<div class="md-dialog-content" style="padding-right:100px; width:900px;">
				<h3>Cadastro nova consulta</h3>
				<div class="row">
					<div class="col-md-12">
						<label>Nome do Cliente</label>
						<md-autocomplete 
							flex 
							required="true"
							md-input-name="autocompleteField"
							md-input-minlength="2"
							md-input-maxlength="30"
							md-selected-item="selectedItem" 
							md-search-text="searchText" 
							md-items="item in getInterest1(searchText) | filter:searchText" 
							md-item-text="item.name"
							md-floating-label="Nome do paciente">
							<span md-highlight-text="searchText">{{item.name}}</span>
						</md-autocomplete>	
					</div>
				</div>
				<br>
				<div ng-controller="formscontroller">
					<div class="col-lg-2">
						<md-button ng-click="showAdvanced2($event)" ng-disabled="false" class="md-raised md-primary">Novo Paciente</md-button>
					</div>
					<div class="col-lg-3">
						<md-button ng-click="showAdvanced3($event)" ng-model="getSelectedValue(item)" ng-disabled="consultaForm.autocompleteField.$invalid" class="md-raised md-primary">Nova Consulta</md-button>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</md-dialog-content>		
	</form>
</md-dialog>
