<md-dialog aria-label="Cadastro nova consulta">
	<form name="novaConsultaForm" ng-controller="maincontroller" ng-cloak>
		<md-dialog-content>
			<div class="md-dialog-content" style="padding-right:100px; width:900px;">
				<h3>Cadastro nova consulta</h3>
				<div class="row">
					<!-- TIPO DE CADASTRO -->
					<div class="col-md-5">
						<md-input-container class="md-block" flex-gt-xs>
							<label>Tipo de Cadastro</label>
							<input ng-model="cliente.tipo" disabled>
						</md-input-container>
					</div>
					<div class="col-sm-4">
						<div flex-gt-xs>
							<mdp-date-picker mdp-placeholder="Data" ng-model=""></mdp-date-picker>
						</div>
					</div>
					<div class="col-sm-4">
						<mdp-time-picker mdp-placeholder="Hora" ng-model=""></mdp-time-picker>
					</div>
					<div class="col-sm-4">
						<md-input-container>
							<label>Duração</label>
							<md-select ng-model="selectedHour" md-selected-text="getSelectedHour()">
								<md-optgroup label="Duração">
									<md-option ng-value="item" ng-repeat="item in items">{{item}} Hora(s)</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<md-input-container>
							<label>Serviço</label>
							<md-select ng-model="selectedService" md-selected-text="getSelectedService()">
								<md-optgroup label="Serviço">
									<md-option ng-value="service" ng-repeat="service in services">Serviço {{service}}</md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
					</div>
					<div class="col-sm-8">
						<md-input-container class="md-block">
							<label>Anotações</label>
							<textarea ng-model="" md-maxlength="150" rows="3" md-select-on-focus></textarea>
						</md-input-container>
					</div>
				</div>
				<md-button ng-click="" class="md-raised md-primary">Cadastrar Consulta</md-button>
			</div>
		</md-dialog-content>		
	</form>
</md-dialog>