<md-dialog ng-controller="maincontroller" aria-label="Cadastro nova consulta">
	<form name="pacienteForm" ng-submit="submitform()" ng-cloak>
		<md-dialog-content>
			<div class="md-dialog-content" style="padding-right:100px; width:900px;">
				<h3>Cadastro novo paciente</h3>
                                    <div class="row">
                                        <!-- TIPO DE CADASTRO -->
                                        <div class="col-md-5">
                                            <md-input-container class="md-block" flex-gt-xs>
                                                <label>Tipo de Cadastro</label>
                                                <input ng-model="cliente.tipo" disabled>
                                            </md-input-container>
                                        </div>
                                        <!-- E-MAIL -->
                                        <div class="col-md-4">
                                            <md-input-container>
                                                <label>Email</label>
                                                <input ng-model="cliente.email" type="email" placeholder="email@email.com">
                                            </md-input-container>
                                        </div>
                                        <!-- TELEFONE -->
                                        <div class="col-md-3">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Telefone</label>
                                                <input name="phone" ng-model="paciente.phone" placeholder="900000000"
                                                    required ng-pattern="/^[0-9]{9}$/" md-maxlength="9">

                                                <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                                                    <div ng-message="required" class="my-message">
                                                        Você deve submeter um telefone.
                                                    </div>
                                                    <div ng-message="pattern" class="my-message">
                                                        Esse telefone não parece válido.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- NOME -->
                                        <div class="col-md-6">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Nome</label>
                                                <input ng-model="cliente.name" placeholder="Nome">
                                            </md-input-container>
                                        </div>
                                        <!-- SOBRENOME -->
                                        <div class="col-md-6">
                                            <md-input-container class="md-block" flex-gt-sm>
                                                <label>Sobrenome</label>
                                                <input ng-model="cliente.postname" placeholder="Sobrenome">
                                            </md-input-container>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- ENDEREÇO -->
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Endereço</label>
                                                <input ng-model="paciente.address" placeholder="Rua,Logradouro,Avenida,Nº">
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- CIDADE -->
                                        <div class="col-md-4">
                                             <md-input-container class="md-block" flex-gt-sm>
                                                <label>Cidade</label>
                                                <input ng-model="cliente.city" placeholder="Cidade">
                                            </md-input-container>
                                        </div>
                                        <!-- CEP -->
                                        <div class="col-md-4">
                                             <md-input-container class="md-block" flex-gt-sm>
                                                <label>CEP</label>
                                                <input name="postalCode" ng-model="cliente.cep" placeholder="58000000"
                                                    required ng-pattern="/^[0-9]{8}$/" md-maxlength="8">

                                                <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                                                    <div ng-message="required" class="my-message">
                                                        Você deve submeter um CEP.
                                                    </div>
                                                    <div ng-message="pattern" class="my-message">
                                                        O CEP submetido não parece válido.
                                                    </div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!-- ANOTAÇÕES -->
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label>Anotações</label>
                                                <textarea ng-model="user.notations" md-maxlength="240" rows="5" md-select-on-focus></textarea>
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <!-- BOTÃO SUBMIT -->
                                    <md-button ng-disabled="pacienteForm.$invalid" ng-click="" class="md-raised md-primary">Cadastrar Paciente</md-button>
                                    <div class="clearfix"></div>
			</div>
		</md-dialog-content>		
	</form>
</md-dialog>