<!doctype html>
<html lang="pt-br" ng-app="myApp" ng-controller="maincontroller">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ title }}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- mdPickers Style -->
	<link rel="stylesheet" href="bower_components/mdPickers/dist/mdPickers.min.css">

    <!-- Sidemenu Style -->
    <link rel="stylesheet" href="bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.css">


    <!--Angular-Material-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>    

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/3fb0062116.js"></script>

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-4.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="user.html" class="simple-text">
                    {{ title }}
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>Pacientes</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-date"></i>
                        <p>Calendário</p>
                    </a>
                </li>
                <li>
                    <a href="gerencia.html">
                        <i class="pe-7s-cash"></i>
                        <p>Gerência</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Pacientes</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">1</span>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notificações serão mostradas aqui.</a></li>
                              </ul>
                        </li>
                        <li>
                           <a class="md-primary md-raised" ng-controller="formscontroller" ng-click="showAdvanced($event)">
                                <i class="fa fa-search"></i>
						   </a>
                        </li>
                        <li>
                            <a class="md-primary md-raised" ng-controller="formscontroller" ng-click="showAdvanced2($event)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Ações
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Ações que podetão ser executadas</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ação separada</a></li>
                              </ul> 
                        </li>
                        <li>
                            <a href="#">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content"> 
            <md-autocomplete flex
                md-input-name="autocompleteField"
                md-input-minlength="2"
                md-input-maxlength="30"
                md-selected-item="selectedItem" 
                md-search-text="searchText" 
                md-items="item in getInterest1(searchText) | filter:searchText" 
                md-item-text="item.name" 
                md-floating-label="Busca paciente">
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-autocomplete>
            <div class="container-fluid">
                <div class="row">
                    <div ng-repeat="cliente in clientes |   filter:searchText">
                        <div class="col-md-4">
                            <div class="card card-user"> <!-- Card User -->
                                <div class="image">
                                    <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <a href="#">
                                        <img class="avatar border-gray" src="assets/img/faces/face-0.jpg" alt="..."/>

                                        <h4 class="title">{{ cliente.name }}<br />
                                            <small>{{ cliente.email }}</small>
                                            <br>
                                            <small>{{ cliente.phone }}</small>
                                        </h4>
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <md-sidemenu>
                                    <md-sidemenu-group>
                                        <md-sidemenu-content md-heading="Info." md-arrow="true">
                                            <div>
                                                
                                            </div>
                                        </md-sidemenu-content>
                                    </md-sidemenu-group>
                                </md-sidemenu>
                                <!--<div ng-controller="panelcontroller">
                                    <md-content> <br>
                                        <div class="md-accordion">
                                            <md-toolbar ng-init="data.expanded = false" ng-click="collapseAll(data)">
                                            </md-toolbar>
                                            <div ng-class="{dataContent:true, activeContent:data.expanded}">{{accordianData[0].content}}</div>
                                        </div>
                                    </md-content>
                                </div> -->
                            </div> <!-- Card User -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

    <!--Moment-->
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
   
    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <!-- ui-bootstrap -->
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

    <!--Ui-Calendar-->
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
    
    <!-- mdPickers -->
	<script type="text/javascript" src="bower_components/mdPickers/dist/mdPickers.min.js"></script>

    <!-- Sidemenu Script -->
    <script type="text/javascript" src="bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.js"></script>
    
	<!-- modules -->
	<script src="assets/js/app.js"></script>
	
	<!-- controllers -->
	<script src="assets/js/controllers/maincontroller.js"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

    <!--  Notifications Plugin    -->
    <script src="assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="assets/js/light-bootstrap-dashboard.js"></script>

	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="assets/js/demo.js"></script>
		
	<!-- modules -->
	<script src="assets/js/app.js"></script>
	
	<!-- controllers -->
	<script src="assets/js/controllers/maincontroller.js"></script>

    <!--font-awesome-->
    <script src="https://use.fontawesome.com/3fb0062116.js"></script>
</html>
