.img-add{
	width: 20px;
	height: 20px;
}
.btn-add{
	margin-top:5px;
	color:#FFFFFF;
	width: 150px;
	background-color: #000000;
}
.col{
	
}
.row-filter{
	padding:20px;
	background-color:#BBDEFB;
}
. btn-search{
	position:relative;
	margin-top: 20px;
}
.container-paciente{
	margin-top: 20px;
}