input{
	margin:5px;
}
h4{
	color: #FFFFFF;
}
.img-brand{
	 margin-top:0px;
	width: 80px;
	height: 80px;
}
.navbar-top{
	
	background-color:#448AFF;
}
.filter{
	margin-top:70px;
	font:#FFFFFF;
	padding:20px;
	background-color: #000000;
}
.img-paciente{
	width: 30px;
	height: 30px;
	
}
.navbar-link{
	margin-top:20px;
	
}
footer{
	position: fixed; 
    bottom: 0px; 
    width: 100%; 
    background-color: #448AFF;
    height: 50px;
}
.footer{
	margin-top:20px;
	text-align: center;
	color: #FFFFFF;
}
.container-login{
	margin:20px;
}

.navbar-default .navbar-nav > li > a {
	margin-right:10px;
    color: #FFFFFF;
    width: 100px;
}
.text-right{
	margin-right: 50px;
}
.prox-agend{
	color:#FFFFFF;
	background-color:#448AFF;
	width:100%;
	text-align: center;
}
.header{
	color:#000000;
}