<md-dialog ng-controller="pacientecontroller" aria-label="Cadastro nova consulta">
    <form name="editPacienteForm" ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content" style="padding-right:100px; width:900px;">
                <h3>Editar paciente</h3>
                <div class="row">
                    <div class="col-md-6"> <!-- nome -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Nome</label>
                            <input ng-model="editingPaciente.nome" placeholder="Nome">
                        </md-input-container>
                    </div> <!-- nome -->
                    <div class="col-md-2"> <!-- sexo -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Sexo:</label>
                        </md-input-container>
                        <md-radio-group ng-model="editingPaciente.sexo" layout="row">
                            <md-radio-button value="masculino">Masc.</md-radio-button>
                            <md-radio-button value="feminino"> Femin. </md-radio-button>
                        </md-radio-group>
                    </div> <!-- sexo -->
                    <div class="col-md-4" style="padding-left: 50px;padding-top: 10px;"> <!-- data nasc. -->
                        <mdp-date-picker mdp-placeholder="Data nasc." ng-model="editingPaciente.dataNascimento"></mdp-date-picker>
                        <!--<md-datepicker ng-model="paciente.dataNascimento"  md-placeholder="Data nasc.">{{paciente.dataNascimento}}</md-datepicker>-->
                    </div> <!-- data nasc. -->
                </div>
                <div class="row">
                    <div class="col-md-4"> <!-- email -->
                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="editingPaciente.email" type="email" placeholder="email@email.com">
                        </md-input-container>
                    </div> <!-- email -->
                    <div class="col-md-4"> <!-- telefone -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Telefone</label>
                            <input name="phone" data-ng-model="editingPaciente.telefone.numero" placeholder="(083)90000-0000"
                                   required mask="(999)99999-9999" ng-pattern="/^[0-9-()]{15}$/" md-maxlength="15">

                            <div ng-messages="editPacienteForm.phone.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">
                                    Você deve submeter um telefone válido.
                                </div>
                                <div ng-message="pattern" class="my-message">
                                    Esse telefone não parece válido.
                                </div>
                            </div> <!-- telefone -->
                            <br/>
                            <div> <!-- tipo telefone -->
                                <md-input-container>
                                    <label>Tipo telefone</label>
                                    <md-select ng-model="selectedPhoneType" md-selected-text="getSelectedPhoneType()">
                                        <md-optgroup label="Tipo telefone">
                                            <md-option ng-value="phoneType" ng-model="editingPaciente.telefone.tipo" ng-repeat="phoneType in phoneTypes">{{phoneType}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </div> <!-- tipo telefone -->
                        </md-input-container>
                    </div> <!-- telefone -->
                    <div class="col-md-4"> <!-- cpf -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>CPF</label>
                            <input name="phone" ng-model="editingPaciente.cpf" placeholder="000.000.000-00"
                                   required ng-cpf mask="999.999.999-99" md-maxlength="14">

                            <div ng-messages="editPacienteForm.cpf.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">
                                    Você deve submeter um CPF válido.
                                </div>
                                <div ng-message="pattern" class="my-message">
                                    Esse CPF não parece válido.
                                </div>
                                <div ng-if="!pacienteForm.cpf.$valid" class="my-message">
                                    <div>Esse CPF não parece válido.</div>
                                </div>
                            </div>
                        </md-input-container>
                    </div> <!-- cpf -->
                </div>
                <div class="row">
                    <div class="col-md-4"> <!-- cep -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>CEP</label>
                            <input name="cep" ng-model="editingPaciente.endereco.cep" placeholder="58000-000"
                                   required mask="99999-999" ng-blur="buscarEndereco(editingPaciente)" ng-pattern="/^[0-9-]{9}$/" md-maxlength="9">

                            <div ng-messages="editPacienteForm.cep.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">
                                    Você deve submeter um CEP.
                                </div>
                                <div ng-message="pattern" class="my-message">
                                    O CEP submetido não parece válido.
                                </div>
                            </div>
                        </md-input-container>
                    </div> <!-- cep -->
                </div>
                <div class="row">
                    <div class="col-md-4"> <!-- rua -->
                        <md-input-container class="md-block">
                            <label>Endereço</label>
                            <input  ng-model="editingPaciente.endereco.logradouro" placeholder="Rua,Logradouro,Avenida,Nº">
                        </md-input-container>
                    </div>
                    <div class="col-md-4"> <!-- bairro -->
                        <md-input-container class="md-block">
                            <label>Bairro</label>
                            <input  ng-model="editingPaciente.endereco.bairro" placeholder="Bairro">
                        </md-input-container>
                    </div>
                    <div class="col-md-4"><!-- cidade -->
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Cidade</label>
                            <input ng-model="editingPaciente.endereco.localidade" placeholder="Cidade">
                        </md-input-container>
                    </div> <!-- cidade -->
                </div>
                <div class="row">
                    <div class="col-md-12"> <!-- anotacoes -->
                        <md-input-container class="md-block">
                            <label>Anotações</label>
                            <textarea ng-model="editingPaciente.observacao" md-maxlength="240" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                    </div> <!-- anotacoes -->
                    <div ng-hide="true"></div>
                </div>
                <md-button type="submit" ng-disabled="editPacienteForm.$invalid" ng-click="editarPaciente(editingPaciente)" onclick="demo.showNotificationEdita('top','right')" class="md-raised md-primary">Editar Paciente</md-button>
                <div class="clearfix"></div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>