<md-dialog aria-label="Cadastro nova consulta">
	<form ng-controller="formscontroller" ng-cloak>
		<md-dialog-content>
			<div class="md-dialog-content" style="padding-right:100px; width:900px;">
				<h3>Cadastro nova consulta</h3>
				<div class="row">
					<div class="col-md-5">
						<md-input-container ng-controller="maincontroller" class="md-block" flex-gt-xs>
							<label>{{paciente.nome}}</label>
							<input  ng-model="agendamento.paciente" disabled>
						</md-input-container>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4" style="padding-top: 12px;">
						<div flex-gt-xs>
							<md-datepicker ng-model="agendamento.data" md-placeholder="Enter date"></md-datepicker>
						</div>
					</div>
					<div class="col-sm-4">
						<mdp-time-picker mdp-placeholder="Hora" ng-change="buscarServicos()"ng-model="agendamento.hora"></mdp-time-picker>
					</div>
					<div class="col-sm-4">
						<md-input-container>
							<label>Serviço</label>
							<md-select ng-model="agendamento.servico" placeholder="Selecione um Servico">
								<md-optgroup label="Serviços">
									<md-option ng-value="servico" ng-repeat="servico in registroServicos">{{servico.descricao}} -{{servico.tipo}} </md-option>
								</md-optgroup>
							</md-select>
						</md-input-container>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<md-input-container class="md-block"> <label>Anotações</label>
							<textarea md-maxlength="150" ng-model="agendamento.anotacao"
									  rows="3" md-select-on-focus></textarea> </md-input-container>
					</div>
				</div>
				<md-button ng-click="agendarConsulta(agendamento)"  onclick="demo.showNotificationConsulta('top','right')" class="md-raised md-primary">Cadastrar Consulta</md-button>
			</div>
		</md-dialog-content>
	</form>
</md-dialog>