<!doctype html>


<html lang="pt-br" ng-app="myApp" ng-controller="servicescontroller">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/icon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{{ title }}</title>

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

       
    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!--Angular-Material-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
	
	<!-- mdPickers Style -->
	<link rel="stylesheet" href="bower_components/mdPickers/dist/mdPickers.min.css">

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>    

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <!-- Sidemenu Style -->
    <link rel="stylesheet" href="bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/3fb0062116.js"></script>



</head>
<body >

<div class="wrapper">
    <div class="sidebar" data-color="gray" data-image="assets/img/sidebar-4.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="gerencia.html" class="simple-text">
                    <img src="assets/img/1-01.png"/>
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>Pacientes</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="pe-7s-date"></i>
                        <p>Calendário</p>
                    </a>
                </li>
                <li class="active">
                    <a href="gerencia.html">
                        <i class="pe-7s-cash"></i>
                        <p>Gerência</p>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#demo">
                        <i class="pe-7s-note2"></i>
                        <p>Relatórios</p>
                        <div id="demo" class="collapse">
                            <ul style="list-style: none;">
                                <li>
                                    <div>
                                        <hr>
                                        <a href="relatorios/pacientes.html">PACIENTES</a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <hr>
                                        <a href="relatorios/consultas.html">CONSULTAS</a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <hr>
                                        <a href="relatorios/servicos.html">SERVIÇOS</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Gerência</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="dashboard.html">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li>
                           <a class="md-primary md-raised" ng-controller="formscontroller" ng-click="showAdvanced($event)">
                                <i class="fa fa-search"></i>
						   </a>
                        </li>
                        <li>
                            <a class="md-primary md-raised" ng-controller="formscontroller" ng-click="showAdvanced2($event)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ng-controller="maincontroller" ng-click="logout()">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
                <h2>Cadastros</h2>
                <md-input-container>
                    <label>Cadastros</label>
                    <md-select ng-model="selection">
                        <md-option ng-repeat="cadastro in cadastros | limitTo: 4" ng-value="cadastro">{{cadastro
                            }}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Financeiro</label>
                    <md-select ng-model="selection">
                        <md-option ng-repeat="cadastro in cadastros | limitTo: -3" ng-value="cadastro">{{cadastro
                            }}</md-option>
                    </md-select>
                </md-input-container>
            <div ng-switch on="selection">
                <div class="card" ng-switch-when="Serviços"><!-- form cadastro serviço -->
                    <div class="layout-gt-lg-row">
                        <md-content md-theme="docs-dark" layout-gt-md="row" layout-padding>
                            <h3 style="padding-left: 20px;">Cadastro de Serviço</h3>
                            <h3><i class="pe-7s-shopbag"></i> </h3>
                            <div class="row" style="padding-left: 40px;">
                                <md-input-container class="col-md-6">
                                    <label>Nome do Serviço</label>
                                    <input ng-model="servico.descricao">
                                </md-input-container>
                                <md-input-container class="col-md-6">
                                    <label>Tipo do Serviço</label>
                                    <input ng-model="servico.tipo">
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                    <form name="servicesForm">
                        <div class="row col-md-12">
                            <md-input-container class="col-md-5">
                                <label>Valor do Serviço(R$)</label>
                                <input type="number" ng-model="servico.valor"/>
                            </md-input-container>
                            <md-input-container class="col-md-5">
                                <label>Duração do serviço (em horas)</label>
                                <input type="number" ng-model="servico.duracao"/>
                            </md-input-container>
                        </div>
                        <md-button class="md-raised" ng-click="cadastrarServico(servico)" onclick="demo.showNotificationServico('top','right')" ng-disabled="servicesForm.$invalid">Cadastrar Serviço</md-button>
                    </form>
                </div>
                <!------------------------------------------------------------------------>
                <div class="card" ng-switch-when="Produtos"><!-- form cadastro produto -->
                    <div class="layout-gt-lg-row">
                        <md-content md-theme="docs-dark" layout-gt-md="row" layout-padding>
                            <h3 style="padding-left: 20px;">Cadastro de Produto</h3>
                            <h3><i class="pe-7s-cart"></i> </h3>
                            <div class="row" style="padding-left: 40px;">
                                <md-input-container class="col-md-6">
                                    <label>Nome do produto</label>
                                    <input ng-model="">
                                </md-input-container>
                                <md-input-container class="col-md-6">
                                    <label>Tipo do produto</label>
                                    <input ng-model="">
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                    <form name="produtosForm">
                        <div class="row col-md-12">
                            <md-input-container class="col-md-5">
                                <label>Valor do produto(R$)</label>
                                <input type="number" ng-model=""/>
                            </md-input-container>

                        </div>
                        <md-button class="md-raised" ng-click=""
                                   onclick="demo.showNotificationServico('top','right')" ng-disabled="false">Cadastrar
                            Produto</md-button>
                    </form>
                </div>
                <!------------------------------------------------------------------------>
                <div ng-controller="formscontroller" ng-switch-when="Pessoas"
                     data-ng-init="showAdvanced2($event)"></div>
                <div ng-controller="formscontroller" ng-switch-when="Consultas" data-ng-init="showAdvanced($event)"></div>

                <!------------------------------------------------------------------------>

            </div>
            <div ng-switch on="selection">
                <div class="card" ng-switch-when="Despesas"><!-- form despesas -->
                    <div class="layout-gt-lg-row">
                        <md-content md-theme="docs-dark" layout-gt-md="row" layout-padding>
                            <h3 style="padding-left: 20px;">Despesas</h3>
                            <h3><i class="pe-7s-calculator"></i> </h3>
                            <div class="row" style="padding-left: 40px;">
                                <md-input-container class="col-md-6">
                                    <label>Despesa</label>
                                    <input ng-model="">
                                </md-input-container>
                                <md-input-container class="col-md-6">
                                    <label>Tipo da despesa</label>
                                    <input ng-model="">
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                    <form name="despesasForm">
                        <div class="row col-md-12">
                            <md-input-container class="col-md-5">
                                <label>Valor da despesa(R$)</label>
                                <input type="number" ng-model=""/>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <md-button class="md-raised" ng-click="" ng-disabled="false"> Adicionar Despesa</md-button>
                        </div>
                    </form>
                </div><!-- form despesas -->

                <!------------------------------------------------------------------------>

                <div class="card" ng-switch-when="Investimentos"> <!-- form investimentos -->
                    <div class="layout-gt-lg-row">
                        <md-content md-theme="docs-dark" layout-lg="row" layout-padding>
                            <h3 style="padding-left: 20px;">Investimentos</h3>
                            <h3><i class="pe-7s-piggy"></i> </h3>
                            <div class="row" style="padding-left: 40px;">
                                <md-input-container class="col-md-6">
                                    <label>Investimento</label>
                                    <input ng-model="">
                                </md-input-container>
                                <md-input-container class="col-md-6">
                                    <label>Tipo da Investimento</label>
                                    <input ng-model="">
                                </md-input-container>
                            </div>
                        </md-content>
                    </div>
                    <form name="investimentosForm">
                        <div class="row col-md-12">
                            <md-input-container class="col-md-5">
                                <label>Valor do investimento(R$)</label>
                                <input type="number" ng-model=""/>
                            </md-input-container>
                        </div>
                        <div class="row">
                            <md-button class="md-raised" ng-click="" ng-disabled="false"> Adicionar Investimento</md-button>
                        </div>
                    </form>
                </div> <!-- form investimentos -->

                <!------------------------------------------------------------------------>

                <div class="card" ng-switch-when="Lançamentos"> <!-- form lançamentos -->
                    <div class="layout-gt-lg-row" ng-controller="formscontroller as frmctrl">
                        <md-content md-theme="docs-dark" layout-lg="row" layout-padding style="display: block">
                            <h3 style="padding-left: 20px;">Lançamentos <i class="pe-7s-graph3"></i></h3>
                            <md-input-container class="col-md-12">
                                <md-autocomplete
                                        flex
                                        required
                                        md-autofocus = "true"
                                        md-no-cache = "false"
                                        md-require-match = "true"
                                        md-input-name="autocompleteField"
                                        md-input-minlength="2"
                                        md-input-maxlength="30"
                                        md-selected-item="selectedItem"
                                        md-selected-item-change="frmctrl.selectedItemChange(nome)"
                                        md-search-text="nome"
                                        md-search-text-change="loadCompleteAgendamento(nome)"
                                        md-items="item in results.data | unique:'paciente.nome'"
                                        md-item-text="item.paciente.nome"
                                        md-floating-label="Nome do paciente">
                                    <span md-highlight-text="nome" ng-model="frmctrl.selectedNome">{{item.paciente.nome}}</span>
                                </md-autocomplete>
                                <span>{{item}}</span>
                                <div ng-hide="true">{{frmctrl.selectedNome = selectedItem}}</div>
                                <div ng-hide="true">{{perPaciente(frmctrl.selectedNome)}}</div>
                            </md-input-container>
                        </md-content>
                        <div class="card" style="height: 250px;overflow-y: auto;">
                            <div class="col-lg-4" style="height: 250px;overflow-y: auto;">
                                <h4>Nome do Paciente</h4>
                                <h5><b>{{results.data[0].paciente.nome}}</b></h5>
                            </div>
                            <div class="col-lg-4" ng-controller="servicescontroller" style="height: 250px;overflow-y: auto;">
                                <h4>Serviços</h4>
                                <span ng-repeat="servico in results.data">
                                    <h5>{{servico.servico.descricao}} | {{servico.servico.valor}}</h5>
                                </span>
                                <hr>
                                <p class="pull-right"><b>{{sumArrayServicos(results.data)}}</b></p>
                                <div ng-hide="true">{{totalServicos = sumArrayServicos(results.data)}}</div>
                            </div>
                        </div>
                        <div style="padding-left: 25px">
                            <md-checkbox>Desconto</md-checkbox>
                            <md-button class="md-raised md-warn" ng-click="showAdvanced6($event)">Lançar</md-button>
                        </div>
                    </div>
                </div> <!-- form lançamentos -->

            </div> <!-- section 2 end -->
        </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>
                                <li>
                                    <a href="http://sl7.com.br/">
                                        Company
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <p class="copyright pull-right">
                            Made with <i class="pe-7s-coffee"></i> @ SL7 Tecnologia
                        </p>
                    </div>
            </footer>
        </div>

</div>
</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>


<!--Moment-->
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>

<!-- ui-bootstrap -->
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

<!--Ui-Calendar-->
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>

<!-- Cpf/Cnpj -->
<script src="bower_components/cpf_cnpj/build/cpf.js"></script>
<script type="text/javascript" src="bower_components/cpf_cnpj/build/cnpj.js"></script>
<script type="text/javascript" src="bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js"></script>

<!-- mdPickers -->
<script type="text/javascript" src="bower_components/mdPickers/dist/mdPickers.min.js"></script>

<!-- Sidemenu Script -->
<script type="text/javascript" src="bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.js"></script>

<!-- NgMask Plugin -->
<script type="text/javascript" src="bower_components/ngMask/dist/ngMask.min.js"></script>

<!-- Angular Filters -->
<script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.min.js"></script>

<!-- modules -->
<script src="assets/js/app.js"></script>

<!-- controllers -->
<script src="assets/js/controllers/maincontroller.js"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<!--font-awesome-->
<script src="https://use.fontawesome.com/3fb0062116.js"></script>

<!-- Angular Route -->
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
</html>
