<!DOCTYPE html>
<html ng-app="indexApp" >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Style C/BootStrap -->
<link type="text/css" rel="stylesheet"
	href="../resources/bootstrap-3.2.0/dist/css/bootstrap.css">
</>

<link type="text/css" rel="stylesheet" href="../resources/css/styles.css"></>
<!-- Scripts -->
<script type="text/javascript"
	src="/webjars/angularjs/1.5.8/angular.js"></script>
	<script type="text/javascript"
	src="/webjars/angularjs/1.5.8/angular-route.js"></script>
	<script type="text/javascript"
	src="../resources/js/indexCtrl.js"></script>
	<script type="text/javascript"
	src="/webjars/angular-ui-bootstrap/2.2.0/ui-bootstrap.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	


<title>SysFis</title>
</head>
<body ng-controller="homeCtrl">
<nav class="navbar navbar-default  navbar-collapse navbar-top navbar-left navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target="#navCollapse" aria-expanded="false">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
       	 		</button>
				<a  href="#">
        			<img class="img-circle img-brand"alt="Fisio" src="../resources/img/fisio.png">
        		</a>
			</div>
			<div id="navCollapse" class="collapse navbar-collapse">
				<ul class="nav  navbar-nav navbar-link">
					<li><a href="/#/home">Dashboard</a></li>
					<li><a href="/#/pct">Pacientes</a></li>
					<li><a href="/#/calendar">Agenda</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container-fluid filter">
		<div class="row-fluid">
			<h4>DASHBOARD</h4>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<h2 >Próximos Agendamentos</h2>
				<div class="list-group">
					
					<div class="list-group-item"ng-repeat="agendamento in agendamentos" >
						<div class="prox-agend">{{agendamento.dia}}</div>
						<div>
							<img class="img-circle img-paciente" alt="" 
								src="../resources/img/agendamento.png"
							>{{agendamento.paciente}}
							<div class="text-right">{{agendamento.atendimento}}</div>
						</div>
						</div>
				</div>
			</div>
			<div class="col-md-8">
			
			</div>
		</div>
	</div>
</body>
<footer>
	<div class="row-fluid footer">SysFis - © Copyright 2016 SL7 Tecnologia </div>
</footer>
</html>