<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Style C/BootStrap -->
<link type="text/css" rel="stylesheet"
	href="../resources/bootstrap-3.2.0/dist/css/bootstrap.css">
</>
<link type="text/css" rel="stylesheet"
	href="../resources/css/stylePct.css">
</>
<link type="text/css" rel="stylesheet"
	href="../resources/css/styles.css">
</>
 <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>


<title>Login</title>
</head>
<body ng-controller="loginCtrl">

	<div class="container">
		<div class="container-fluid container-login">
			<div class="col-md-0 col-md-offset-5">
				<img class="img-circle"
					src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
			</div>
			<form class="form-group" name="formLogin" action="/login" method="POST">
				<div class="row-fluid">
					<div class="col-md-4 col-md-offset-4">
						<input type="text" id="inputNome" name="username" ng-model="username"
							class="
						form-control" placeholder="Nome" required
							autofocus>
					</div>
					<div class="col-md-4 col-md-offset-4">
						<input type="password" name="password" ng-model="password"
							id="inputPassword" class="form-control" placeholder="Senha"
							required>
					</div>
					<div class="col-md-4 col-md-offset-4">
						<a href="#" class="forgot-password"> Esqueceu sua Senha? </a>
						<div id="remember" class="checkbox">
							<label> <input type="checkbox" value="lembrar-me">
								Lembrar-me
							</label>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-4">
						<button type="submit"  class="btn btn-lg btn-primary btn-block btn-signin"
							ng-disabled="formLogin.$invalid" >Entrar</button>
					</div>
				</div>
				
			</form>
			<!-- /form -->

		</div>
		<!-- /card-container -->
	</div>
	<!-- /container -->
</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>



<!-- ui-bootstrap -->
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

<!--Ui-Calendar-->
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>

<!-- Cpf/Cnpj -->
<script src="bower_components/cpf_cnpj/build/cpf.js"></script>
<script type="text/javascript" src="bower_components/cpf_cnpj/build/cnpj.js"></script>
<script type="text/javascript" src="bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js"></script>

<!-- mdPickers -->
<script type="text/javascript" src="bower_components/mdPickers/dist/mdPickers.min.js"></script>

<!-- Sidemenu Script -->
<script type="text/javascript" src="bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.js"></script>

<!-- NgMask Plugin -->
<script type="text/javascript" src="bower_components/ngMask/dist/ngMask.min.js"></script>


<!-- modules -->
<script src="assets/js/app.js"></script>

<!-- controllers -->
<script src="assets/js/controllers/maincontroller.js"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<!--font-awesome-->
<script src="https://use.fontawesome.com/3fb0062116.js"></script>
<!-- Angular Route -->
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>



</html>