<!doctype html>
<html lang="pt-br" ng-app="myApp" ng-controller="calendarcontroller">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ title }}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Angular -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <!--Angular-Material-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>

    <!-- Sidemenu Style -->
    <link rel="stylesheet" href="bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.css">

    <!-- UI-Bootstrap CSS -->
    <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet"/>

    <!--Fullcalendar UI-->
    <link href="bower_components/fullcalendar/dist/fullcalendar.css" rel="stylesheet"/>

    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- mdPickers Style -->
    <link rel="stylesheet" href="bower_components/mdPickers/dist/mdPickers.min.css"/>

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/3fb0062116.js"></script>



</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="gray" data-image="assets/img/sidebar-4.jpg">

        <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="table.html" class="simple-text">
                    <img src="assets/img/1-01.png"/>
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>Pacientes</p>
                    </a>
                </li>
                <li class="active">
                    <a href="table.html">
                        <i class="pe-7s-date"></i>
                        <p>Calendário</p>
                    </a>
                </li>
                <li>
                    <a href="gerencia.html">
                        <i class="pe-7s-cash"></i>
                        <p>Gerência</p>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#demo">
                        <i class="pe-7s-note2"></i>
                        <p>Relatórios</p>
                        <div id="demo" class="collapse">
                            <ul style="list-style: none;">
                                <li>
                                    <div>
                                        <hr>
                                        <a href="relatorios/pacientes.html">PACIENTES</a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <hr>
                                        <a href="relatorios/consultas.html">CONSULTAS</a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <hr>
                                        <a href="relatorios/servicos.html">SERVIÇOS</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Calendário</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="dashboard.html">
                                <i class="fa fa-dashboard"></i>
                            </a>
                        </li>
                        <li ng-controller="maincontroller">
                            <a class="md-primary md-raised" ng-controller="formscontroller" ng-click="showAdvanced($event)">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        <li>
                            <a class="md-primary md-raised" ng-controller="formscontroller" ng-click="showAdvanced2($event)">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a  ng-controller="maincontroller"ng-click="logout()">
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
        	<div ui-calendar="uiConfig.calendar"  config="uiConfig.calendar" class="span8 calendar" calendar="myCalendar" ng-model="eventSources"></div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="http://sl7.com.br/">
                                Company
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    Made with <i class="pe-7s-coffee"></i> @ SL7 Tecnologia
                </p>
            </div>
        </footer>
    </div>
</div>

</body>


<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>



<!-- ui-bootstrap -->
<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

<!--Ui-Calendar-->
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>

<!-- Cpf/Cnpj -->
<script src="bower_components/cpf_cnpj/build/cpf.js"></script>
<script type="text/javascript" src="bower_components/cpf_cnpj/build/cnpj.js"></script>
<script type="text/javascript" src="bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js"></script>

<!-- mdPickers -->
<script type="text/javascript" src="bower_components/mdPickers/dist/mdPickers.min.js"></script>

<!-- Sidemenu Script -->
<script type="text/javascript" src="bower_components/angular-material-sidemenu/dest/angular-material-sidemenu.js"></script>

<!-- NgMask Plugin -->
<script type="text/javascript" src="bower_components/ngMask/dist/ngMask.min.js"></script>

<!-- Angular Filters -->
<script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.min.js"></script>

<!-- modules -->
<script src="assets/js/app.js"></script>

<!-- controllers -->
<script src="assets/js/controllers/maincontroller.js"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<!--font-awesome-->
<script src="https://use.fontawesome.com/3fb0062116.js"></script>

<!-- Angular Route -->
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>

</html>
